body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1 {
    padding-bottom: 40px;
    text-decoration: underline;
}

td {
    background-color: greenyellow;
}

tr, th {
    padding: 10px;
    text-align: center;
}

.luftkvalitet {
    background-color: orange;
}

.lydniveau {
    background-color: red;
}